[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
gevent = "*"
python-dotenv = "*"
setuptools = "*"
psycopg2-binary = "*"
djangorestframework = "*"

[dev-packages]
ruff = "*"

[requires]
python_version = "3.12"
